<div class="auth-main">
    <div class="auth-block">
        <h1>Sign in to MurphyOil</h1>
        <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)" class="form-horizontal">
            <div class="form-group row" [ngClass]="helperService.getInputValidationClass(form,'email')">
                <div class="col-sm-12">
                    <input [formControl]="email" type="text" class="form-control" id="inputEmail3" placeholder="Email">
                    <span *ngIf="helperService.getInputValidationClass(form,'email')" class="help-block sub-little-text text-danger">{{helperService.getCtrlValidationMsg(form,'email')}}</span>
                </div>
            </div>
            <div class="form-group row" [ngClass]="helperService.getInputValidationClass(form,'password')">
                <div class="col-sm-12">
                    <input [formControl]="password" type="password" class="form-control" id="inputPassword3" placeholder="Password">
                    <span *ngIf="helperService.getInputValidationClass(form,'password')" class="help-block sub-little-text text-danger">{{helperService.getCtrlValidationMsg(form,'password')}}</span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-12">
                    <div class="row">
                        <div class="col-lg-6">
                            <ba-checkbox [(ngModel)]="rememberMe" [baCheckboxClass]="'disabled'" [label]="'Remember Me?'" [disabled]="false" [ngModelOptions]="{standalone: true}"></ba-checkbox>
                            <!--<input [(ngModel)]="rememberMe" type="checkbox" />-->
                        </div>
                        <div class="col-lg-6 text-right">
                            <button [disabled]="!form.valid || isProcessing" type="submit" class="btn btn-primary btn-auth"><span *ngIf="!isProcessing">Sign in</span><span *ngIf="isProcessing">Processing... <i class="fa fa-spinner fa-spin fa-fw" aria-hidden="true"></i></span>
</button>
                        </div>
                    </div>
                    <a routerLink="/login" class="forgot-pass">Forgot password?</a>
                </div>
            </div>
            <div class="row" *ngIf="isError">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="form-group">
                        <div class="alert alert-danger">
                            {{errorMessage}}
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>